<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.farmaciamovil">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farmaciamovil"
        tools:targetApi="31">

        <activity
            android:name=".ActividadPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActividadRestablecerContrasena" />

        <activity android:name=".ActividadRegistro" />

        <activity android:name=".ActividadInicioAdministrador" />

        <activity android:name=".ActividadAnadirProducto" />

        <activity android:name=".ActividadAnadirDireccion"/>

        <activity android:name=".ActividadInformacionPersonal"/>

        <activity android:name=".ActividadInicio"/>

        <activity android:name=".ActividadProductoIbu"/>

        <activity android:name=".ActividadProductoParace"/>

        <activity android:name=".ActividadMisDirecciones"/>

        <activity android:name=".ActividadCarritoCompra"/>

        <activity android:name=".ActividadSeleccionarProducto"/>

        <activity android:name=".ActividadModificarProductoIbu"/>

        <activity android:name=".ActividadModificarProductoParace"/>

        <activity android:name=".ActividadEnviodeProducto"/>






        <!-- Agregar la actividad de Administrador -->
        <activity android:name=".ActividadAdministrador" />
    </application>
</manifest>
